<ion-header>
    <ion-navbar color="primary">
        <ion-title>Detail Item</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h2 text-center>Test Ionic-Smartenit!</h2>
    <ion-card padding class="card">
        <img src="{{item.media.img}}">
        <ion-card-content class="card">
            <ion-card-title text-center text-wrap class="title">{{item.name}}</ion-card-title>
        </ion-card-content>
        <ion-card class="card">
            <ion-item>
                <ion-icon name='book' item-left color="primary"></ion-icon>
                <p text-wrap>Model: {{item.hwId}}</p>
            </ion-item>
            <ion-item>
                <ion-icon name='barcode' item-left color="primary"></ion-icon>
                <p>Id: {{item._id}}</p>
            </ion-item>
            <ion-item>
                <ion-icon name='call' item-left color="primary"></ion-icon>
                <p>Media createdAt : {{item.media.createdAt | date}}</p>
            </ion-item>
            <ion-item>
                <ion-icon name='basket' item-left color="primary"></ion-icon>
                <p>Media updatedAt: {{item.media.updatedAt | date}}</p>
            </ion-item>
        </ion-card>
    </ion-card>
</ion-content>