page-home {
    .fade-in {
        position: absolute;
        min-height: 100%!important;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    }
    ion-card {
        color: #e4b363;
    }
    .card {
        background: #36576A;
    }
}