<ion-header>
    <ion-navbar color="primary">
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h2 text-center>Test Ionic-Smartenit!</h2>
    <pre>Developer: Andrew Cordoba Rodriguez </pre>
    <div class="container-fluid">
        <ion-card>
            <ion-item>
                <ion-label floating>Limit</ion-label>
                <ion-input type="number" required [(ngModel)]="limit" min="1" max="{{itemsCount$ | async}}" value="{{limit}}"></ion-input>
            </ion-item>
            <button text-center ion-button block small (click)="sendLimit(limit)">Send</button>
        </ion-card>
        <div id="main-content">
            <items-list [items]="items$ | async" [limit]="itemsLimit$ | async" [count]="itemsCount$ | async" [page]="itemsPage$ | async" [loading]="itemsLoading$ | async" (onPageChanged)="onItemsPageChanged($event)"></items-list>
        </div>
    </div>
</ion-content>