<div class="container" *ngIf="items">
    <div padding>
        <ion-segment [(ngModel)]="state">
            <ion-segment-button value="list">
                <ion-chip text-center color="primary">
                    <ion-label>ListView</ion-label>
                    <ion-icon name="heart" color="dark"></ion-icon>
                </ion-chip>
            </ion-segment-button>
            <ion-segment-button value="grid">
                <ion-chip text-center color="primary">
                    <ion-icon name="heart" color="dark"></ion-icon>
                    <ion-label>GridView</ion-label>
                </ion-chip>
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="state">
        <div *ngSwitchDefault text-center>
            <ion-item *ngFor="let item of items" (click)="detailsItem(item)">
                <ion-avatar item-start>
                    <img src="{{item.media.img}}">
                </ion-avatar>
                <h2>Name: {{item.name}}</h2>
                <p text-wrap>Model: {{item.hwId}}</p>
                <p>State: {{item.state}}</p>
            </ion-item>
        </div>
        <div *ngSwitchCase="'grid'" text-center>

            <ion-grid>
                <!-- <pre text-center>Grid View: Activated</pre> -->
                <ion-row>
                    <ion-col width-50 *ngFor="let item of items" (click)="detailsItem(item)">
                        <img src="{{item.media.img}}">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <!-- <ion-item *ngFor="let item of collection | paginate: { itemsPerPage: 2, currentPage: p }"> -->
    <ngb-pagination [collectionSize]="count" [pageSize]="limit" [(page)]="page" (pageChange)="onPageChanged.emit($event)" [boundaryLinks]="true" [disabled]="loading"></ngb-pagination>
    <pre>Collection of entities: {{items.length}}</pre>
    <pre>Total number of entities: {{count}}</pre>
    <pre>Current page: {{page}}</pre>
    <pre>Limit page: {{limit}}</pre>
    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
</div>